@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    margin: 2em auto;
}

.resultado {
    color: crimson;
    margin: 2em auto;
    font-size: 3em;
}
