
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
.fondo {
    background: url(img/ciervo.jpg) center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* posicionar con respecto al contenedor padre */
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0px);
}

.carga {
    color: ghostwhite;
    font-size: 3em;
}
